<!DOCTYPE html>
<html>
  <head>
    <title>Remas projects</title>
    <style>
      h1{
        font-size: 40px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(255,0,255);
        text-align: center;
      }
      #banner{
        width: 100%;
        height: 360px;
        object-fit: cover;
        
      }
      h2{
        font-family: Roboto;
        font-size: 32px;
        color:rgb(100,0,100);
        font-weight: normal;
        text-align: center;
      }
      p{
        font-family: Roboto;
      }


      </style>
     </head>
<body>
  <h1>Remas projects </h1>
    <img id="banner" src="https://97846718-0368-4f84-81b5-55d59069730e-00-308mpnykifl1i.sisko.replit.dev/static/panner.jpg">
  <h2><About Remas projects</h2>
  <p>It is a long-established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'Lorem ipsum' will uncover many websites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humor and the like).</p>
  <h2>project</h2>
  <p>show progects details here</p>
  <button>contact us</button>
</body>
</html>