<!DOCTYPE html>
<html>
  <head>
    <body>
              
    <title>{{myname}} Remas projects</title>
    {%include 'bootstrap.html'%}
    </head>
<body>
  <div class="container">
  <h1 class="text-center">Remas projects</h1> 
    {%include 'banner.html'%}
  <h2 class="text-center">About Me </h2>
  
    <p>Hello, I'm Remas, a passionate AI student eager to make a mark at Aramco Digital. Excited to leverage AI to drive innovation and efficiency, I aim to contribute to cutting-edge projects and push the boundaries of technology.</p>
   <h2 class="text-center mt-2 mb-4">projects</h2> 
  <div>
    {% for item in myskills %}
    {% include 'myprojects.html' %}
    {% endfor %}
  </div>
  <div class="text-center">
    <a href="/contactme" type="button" class="btn btn-primary">Contact Me</a>
  <p>copy right , {{myname}} <p>
  </div>
   </div>
</body>
</html>
